
.content {
    padding-top: 232px;
    padding-bottom: 156px;
    background-color: #0C0C0C;
    background: 
        url(../img/landing/contentImage.png)no-repeat left calc(50% + 165px) bottom / 750px,
        url(../img/landing/logoBg.png)no-repeat left calc(50% - 473px) bottom -57px / auto,
        url(../img/landing/cityBg.png)no-repeat right calc(50%) bottom / auto;
    position: relative;

    &__title {
        width: 350px;
    }

    &__text {
        font-size: 14px;
        color: #A1A0AE;
        line-height: 26px;
        font-weight: 500;
        margin: 37px 0 0;
        width: 260px;
        letter-spacing: 0.01em;
    }

    &::before {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 156px;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    &__btn {
        margin-top: 42px;
        width: 207px;

        &::after {
            background: url(../img/landing/playBtn.svg)no-repeat left calc(50% + 1px) center / auto;
        }
    }
}

